<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" 
 [ngStyle]="{'top.px': 20 + (i * 70)}"
 [playerActive]="i == game.currentPlayer"
 [image]="game.player_images[i]"
 [name]="player"
 class="player-position hide-mobile"></app-player>



 <!-- [ngStyle]="{'left.px': 10 + (i * 65), 'top.px':0}" -->
 <div class="scroll-container hide-desktop" >
    <app-player-mobile *ngFor="let player of game.players; let i = index" (click)="editPlayer(i)" 
        
        [playerActive]="i == game.currentPlayer"
        [name]="player"
        ></app-player-mobile>
 </div>

<button mat-fab color="primary" class="qr-code">
    <mat-icon (click)="openQR_Code()">qr_code</mat-icon>
</button>



 
<div *ngIf="gameOver" class="gameOver">
    <img src="/assets/game-over-2720584__340.png" alt="">
</div>

<div *ngIf="!gameOver" class="field">
    <div class="card-stack">
        <!-- Card Stack -->
        <img *ngFor="let c of [0, 1, 2, 3  ]; let i = index" [ngStyle]="{'right.px': i * 5}"
         src="/assets/cards/card_cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 25px;"
         src="/assets/cards/card_cover.png" alt="">
        
        <!-- Stack for playedCards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/cards/{{ card }}.png" style="right: 25px;">

        <!-- Current Card Animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation"  class="pick-card" style="right: 25px;"
         src="/assets/cards/{{ game.currentCard }}.png" alt=""> 
    </div>
</div>

<app-game-info *ngIf="!gameOver" class="pin-bottom" [card]="game.currentCard"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" class="btn-add">
    <mat-icon (click)="openDialog()">add</mat-icon>
</button>

<img class="preloadImage" src="../assets/cards/{{ game.stack[game.stack.length -1] }}.png">
